<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false"
                      hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>{{title}}</mat-panel-title>
    <mat-panel-description>{{panelOpenState ? '▲' : '▼'}}</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item *ngFor="let subcategory of subcategories" href="#">
      {{ subcategory }}
    </a>
  </mat-nav-list>
</mat-expansion-panel>
