<div class="main-menu">
  <div class="motto-container">
    <img src="assets/motto-tietze.png" class="motto-tietze">
  </div>

  <!-- TODO: complete with the information -->
  <div class="motto-container">
    <img src="assets/motto-tietze.png" class="motto-tietze">
  </div>
  <div class="motto-container">
    <img src="assets/motto-tietze.png" class="motto-tietze">
  </div>
  <div class="motto-container">
    <img src="assets/motto-tietze.png" class="motto-tietze">
  </div>
  <!-- TODO: complete with the information -->

</div>
