.endpage-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background: #BEB4D6;
  padding-top: 40px;
}

.endpage-histoire {
  grid-area: 1 / 1 / 2 / 2;
}

.endpage-news {
  grid-area: 2 / 1 / 3 / 2;
}

.endpage-contact {
  grid-area: 1 / 2 / 2 / 3;
}

.endpage-dons {
  grid-area: 2 / 2 / 3 / 3;
}

.endpage-newsletter {
  grid-area: 1 / 3 / 3 / 4;
}

.endpage-infos {
  grid-area: 1 / 5 / 3 / 6;
}

.endpage-logo {
  grid-area: 1 / 6 / 3 / 7;
}
