<mat-card>
  <mat-card-content>
    <h2>Newsletter</h2>
    <mat-form-field appearance="outline">
      <mat-label>Prénom</mat-label>
      <input matInput placeholder="Entre ton prénom">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Entre ton nom">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Courriel</mat-label>
      <input matInput placeholder="Entre ton courriel">
    </mat-form-field>
    <button mat-raised-button color="primary">S'abonner</button>
  </mat-card-content>
</mat-card>

