.toolbar {
  position: fixed;
  top: 0px;
  background: #C1D4E3;
  height: 100px;
}

.logo-navbar {
  height: 100px;
  width: 189px;
}

.navbar-button {
  padding-left: 64px;
}

.navbar-button, .mat-button, .mat-menu, .mat-menu-item {
  color: #504645;
  font-size: 22px;
  font-family: "JetBrains Mono Medium", monospace;
}

app-social-medias {
  position: fixed;
  right: 0;
}
